@model Olympics.Models.OlympicsFilterViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="filters">
    <form asp-action="Filter" method="get">
        <select name="game">
            <option value="ALL" selected="@(Model.Game == "ALL" ? "selected" : null)">ALL Games</option>
            <option value="Summer Olympics" selected="@(Model.Game == "Summer Olympics" ? "selected" : null)">Summer Olympics</option>
            <option value="Winter Olympics" selected="@(Model.Game == "Winter Olympics" ? "selected" : null)">Winter Olympics</option>
            <option value="Paralympics" selected="@(Model.Game == "Paralympics" ? "selected" : null)">Paralympics</option>
            <option value="Youth Olympic Games" selected="@(Model.Game == "Youth Olympic Games" ? "selected" : null)">Youth Olympic Games</option>
        </select>
        <select name="sportType">
            <option value="ALL" selected="@(Model.SportType == "ALL" ? "selected" : null)">ALL Types</option>
            <option value="Indoor" selected="@(Model.SportType == "Indoor" ? "selected" : null)">Indoor</option>
            <option value="Outdoor" selected="@(Model.SportType == "Outdoor" ? "selected" : null)">Outdoor</option>
        </select>
        <button type="submit">Filter</button>
    </form>
</div>

<div class="country-list">
    @foreach (var country in Model.Countries)
    {
        <div class="country">
            <img src="@country.FlagUrl" alt="@country.Name" title="@country.Name - @country.Game.Name - @country.SportType.Name" />
        </div>
    }
</div>